

<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Emploi.ma</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/offre" class="nav-link" routerLink="offre"> Liste des offres  </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/userlist" class="nav-link" routerLink="userlist">Liste des Utilisateurs</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Gérer offres</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/creeroffre" class="nav-link" routerLink="creeroffre">Ajouter Offre</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/user" class="nav-link"  routerLink="user">Ajouter utilisateur</a>
      </li>

      <li class="nav-item" *ngIf="showUserBoard">
        <a href="/Listoffrepostuler" class="nav-link"  routerLink="Listoffrepostuler">Postuler </a>
      </li>
      
      <li class="nav-item" *ngIf="showUserBoard">
        <a href="/creercv" class="nav-link"  routerLink="creercv">Créez mon CV </a>
      </li>
      
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Log In</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>
 
  <div class="container">
    
    <router-outlet></router-outlet>
  </div>
</div>
 <div class="banner"></div>