<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form>
      <div class="form-group">
        <label for="username">Titre</label>
        <input
          type="text"
          class="form-control"
          name="username"
        />
      </div>
      <div class="form-group">
        <label for="email">Description</label>
        <input
          type="email"
          class="form-control"
        />
        <div class="alert-danger">
         
        </div>
      </div>
      
      <div class="form-group">
        <button type="button" (click) = "goOffreListe()"  class="btn btn-primary btn-block"> Ajouter </button>
      </div>

    </form>

  </div>
</div>